services:
  mysql:
    image: mysql:8.0
    container_name: finance-mysql
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - finance_mysql_data:/var/lib/mysql
    networks:
      - finance-network

  finance-phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: finance-phpmyadmin
    env_file:
      - .env
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - mysql
    networks:
      - finance-network

  nest:
    image: node:20
    container_name: finance-nest
    working_dir: /usr/src/app
    ports:
      - "3000:3000" # Порт, на котором будет доступно приложение
    env_file:
      - .env
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - mysql # NestJS зависит от MySQL
    networks:
      - finance-network # Сеть для взаимодействия с другими контейнерами
    command: sh -c "npm ci && npm run start:dev"

  vite:
    image: node:20 # Теперь используем Node.js 20
    container_name: finance-vite
    working_dir: /usr/src/app
    ports:
      - "5173:5173" # Порт для Vite в дев-режиме (по умолчанию Vite использует 3000)
    volumes:
      - ./frontend:/usr/src/app # Монтируем фронтенд в контейнер
    environment:
      - NODE_ENV=development
      - VITE_RECAPTCHA_SITE_KEY=${REACT_APP_RECAPTCHA_SITE_KEY}
    command: /bin/bash -c "npm ci && npm run dev"
    networks:
      - finance-network # Сеть для взаимодействия с другими контейнерами

volumes:
  finance_mysql_data:
    driver: local

networks:
  finance-network:
    driver: bridge
